.expo/*
.expo-shared/*
.github/*
assets/*
coverage/**/*
expo-images-picker/**/*
node_modules/**/*
*.jks
.gitattributes
babel.config.js
deployment-instructions.txt
package.json
pc-api-5087382103930800214-683-b4e136d3ddec.json
yarn-error.log
