.expo/*
coverage/**/*
node_modules/**/*
*.jks
deployment-instructions.txt
pc-api-5087382103930800214-683-b4e136d3ddec.json

# yarn stuff
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
